<div class="menu">
	<ul>
	  <li class="current">
<a class="current" href="{$base_url}/index.html" title="الرئيسية">الرئيسية</a>
		</li>

      <li class="single-link">
 <a href="{$base_url}/quran.html" title="فهرس السور">فهرس السور</a>
		</li>
	  <li class="single-link">
<a href="{$base_url}/chapter.html" title="فهرس الاجزاء">فهرس الاجزاء</a>
	 	</li>
	  <li class="single-link">
<a href="{$base_url}/quran_topic.html" title="مواضيع القران الكريم">مواضيع القران الكريم</a>
		</li>
	  <li class="single-link">
<a href="{$base_url}/hadeeth_search.html" title="البحث في الاحاديث النبوية">البحث في الاحاديث النبوية</a>
		</li>
  <li class="single-link">
<a href="{$base_url}/contact.html" title="بلغ عن خطا">بلغ عن خطا</a>
  </li>
    <li class="single-link">
<a href="{$base_url}/mp3.html" title="إستمع للقران الكريم">إستمع للقران الكريم</a>
  </li>
<!-- Do not add any class for links with dropdown -->  <li>
<a href="#">مواقع ننصح بها <span class="arrow"></span></a>
        <!-- Drop Down menu Items -->
         <ul>
			<li><a target="_blank"  href="http://www.quranicresearcher.com">الباحث القراني</a></li>
			<li><a target="_blank"  href="http://www.fjrona.com/index_en.php?cat=1">مكتبة فجر الغد</a></li>
			<li><a target="_blank"  href="http://www.almisk.net/ar/index.php">المسك</a></li>
			<li><a target="_blank"  href="http://www.radioquran.net/">راديو القران</a></li>
			<li>
			<div class="mid-line">
			</div>
			</li>
			<li><a target="_blank"  href="http://www.wathakker.info/quran_topics">موضوعات القران الكريم</a></li>
			<li><a target="_blank"  href="http://www.qurantopics.com/">مواضيع القران</a></li>
			<li><a target="_blank"  href="http://www.aliman-group.com/quran_index.php/">الموسوعة القرانية</a></li>
			<li><a target="_blank"  href="http://www.altafsir.com/indexArabic.asp">مؤسسة الفكر الإسلامي</a></li>
			<li><a target="_blank"  href="http://quran.al-islam.com/Loader.aspx?pageid=215">موقع الإسلام</a></li>
			<li><a target="_blank"  href="http://www.islamhouse.com/p/371331">بيت الإسلام</a></li>
			<li>
			<div class="mid-line">
			</div>
			</li>
			<li><a href="http://bookquran.blogspot.com/">المصاحف للتحميل >></a></li>
			<li>
			<div class="mid-line">
			</div>
			</li>
		</ul>
		</li>
    </ul>
</div>
<div style="padding:5%;line-height:3.2em;text-align:center;">
</div>



