<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//AR"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ar" lang="ar">
<head>
	<title> {$site_title}| {$thistafsser}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Content-language" content="ar" />
	<meta name="description" content="{$tafseer|strip_tags|truncate:300}"/>
	<meta name="keywords" content="{$tafseer|strip_tags|gen_tag}"/>
   <link rel="stylesheet" href="{$base_url}/js/Invoice.css">

</head>
<body>
 <div id="header">

<div dir="{$direction}" class="companyName"><p> {$thistafsser}</p>
		<address>
		  {$alaya}<br />
		</address></div>
		<button onclick="window.print();
">تجهيز للطباعة</button>
	</div>
	<div dir="{$direction}" id="content">
   {$tafsser}
	</div>
 
 
 
	<div id="footer">
		<p class="info">
{php}
	echo '  ' . date_format( new DateTime(), DateTime::W3C ) . "\n";
{/php}
		</p>
	</div>
</body>
</html>
   

